cache/*
debug/*
file-history/*
history.jsonl
ide/*
local/*
paste-cache/*
plans/*
plugins/*
projects/*
session-env
settings.json
settings.local.json
shell-snapshots/*
skills/*
stats-cache.json
statsig/*
telemetry/*
todos/*
